[Unit]
Description=Run Hackamonth GitOps deploy periodically

[Timer]
OnBootSec=30
OnUnitActiveSec=60
Unit=hackamonth-deploy.service

[Install]
WantedBy=timers.target
