apiVersion: apps/v1
kind: Deployment
metadata:
  name: getrafty
  namespace: {{ hm_k8s_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: getrafty
  template:
    metadata:
      labels:
        app: getrafty
    spec:
      containers:
        - name: site
          image: {{ hm_getrafty_image }}
          imagePullPolicy: Always
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: getrafty
  namespace: {{ hm_k8s_namespace }}
spec:
  selector:
    app: getrafty
  ports:
    - port: 80
      targetPort: 80
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: getrafty
  namespace: {{ hm_k8s_namespace }}
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
    traefik.ingress.kubernetes.io/router.tls.certresolver: le
    traefik.ingress.kubernetes.io/router.middlewares: hm-security-headers@kubernetescrd
spec:
  ingressClassName: traefik
  rules:
    - host: getrafty.org
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: getrafty
                port:
                  number: 80
    - host: www.getrafty.org
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: getrafty
                port:
                  number: 80
