apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: xray
  namespace: {{ hm_k8s_namespace }}
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
    traefik.ingress.kubernetes.io/router.tls.certresolver: le
    traefik.ingress.kubernetes.io/router.middlewares: hm-security-headers@kubernetescrd
spec:
  ingressClassName: traefik
  rules:
    - host: {{ hm_xray_public_host }}
      http:
        paths:
          - path: /xray-ws
            pathType: Prefix
            backend:
              service:
                name: xray
                port:
                  number: 10086
